body {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
}

header {
    margin: 0;
    padding: 14px 122px;
}

header div figure {
    margin: 0;
}

header div figure a {
    height: 68px;
    width: 66px;
}

header div div {
    gap: 410px;
}

header div nav ul {
    gap: 89px;
    list-style: none;
    margin: 0;
    padding: 0;
}

header div nav ul li:hover {
    border-bottom: 2px solid #000;
}

header div nav ul li a {
    color: #000;
    font-family: "Arimo";
    font-size: 18px;
    font-weight: 700;
    height: 23px;
    position: relative;
    text-decoration: none;
    width: 26px;
}

header menu {
    gap: 51px;
    margin: 0;
    padding: 0;
}

header menu li {
    list-style: none;
}

.imagem {
    background: url("img/pa-com-terra.png");
    background-repeat: no-repeat;
    height: 950px;
    width: 100%;
    background-size: 100% 100%;
}

.imagem div input {
    background-image: url("img/Frame.png");
    background-position: center right 53px;
    background-repeat: no-repeat;
    background-size: 29px;
    border-color: transparent;
    border-radius: 60px;
    height: 59px;
    margin-top: 117px;
    opacity: 0.8;
    padding: 0 0 0 53px;
    width: 1017.509px;
}

.imagem .aba {
    margin: 72px 0 0 -150px;
}

h1,
h2,
span {
    margin: 0;
}

.imagem .aba .titulo {
    color: #FFF;
    font-family: "Arima";
    font-size: 96px;
    font-weight: 600;
}

.imagem .aba .sub-titulo {
    gap: 14px;
    padding-left: 17.60px;
}

.imagem .aba div a {
    font-family: "Arimo";
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.imagem .aba div span {
    background: #FFF;
    height: 25px;
    width: 2px;
}

.amarelo {
    color: #E79E00;
}

.branco {
    color: #FFF;
}

main {
    width: 100%;
}

main .filtros {
    margin: 69px 0 139px 0;
    max-width: 992px;
    width: 100%;
}

main .filtros div {
    gap: 6px;
}

main .filtros div h1 {
    color: #000;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}

main .filtros div i {
    width: 12px;
    height: 4px;
}

main .busca {
    gap: 44px;
    margin-bottom: 112px;
    width: 100%;
}

main .busca strong {
    font-family: "Outfit";
    font-size: 24px;
    font-weight: 700;
}

.verde {
    color: #4A9B33;
}

main .busca .categoria {
    gap: 13.5px;
}

main .busca .categoria div {
    background: #E0E0E0;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 2px;
    padding: 17px 23px;
}

main .categoria div h1 {
    font-weight: 600;
}

main .categoria h1,
main .plantas .planta .card .info .preco {
    color: #000;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

main .plantas {
    flex-wrap: wrap;
    gap: 52px 32px;
    width: 100%;
}

main .plantas .planta {
    border-radius: 20px;
    border: 2px solid #A8A8A8;
    background: #FFF;
    padding: 32px 25px;
}

main .plantas .planta .card {
    gap: 15px;
}

main .plantas .planta .card figure {
    margin: 0;
    position: relative;
}

main .plantas .planta .card figure div {
    background: rgba(153, 153, 153, 0.40);
    border-radius: 27.5px;
    left: 245px;
    padding: 10px 10px;
    position: absolute;
    top: 18px;
}

main .plantas .planta .card figure div a {
    color: #FFFFFF;
}

main .plantas .planta .card .info {
    gap: 5px;
}

main .plantas .planta .card .info .nome {
    color: #000;
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 400;
}

footer {
    background: #195524;
    box-sizing: border-box;
    padding: 140px 0;
    font-family: "Roboto", sans-serif;
    color: #FFF;
    margin-top: 200px;
    width: 100%;
}

footer .container section a {
    color: #FFF;
}

footer .container .left {
    width: 8%;
    gap: 40px;
}

footer .container .left nav ul {
    gap: 20px;
    list-style: none;
    margin: 0;
}

footer .container .left nav ul li a {
    text-decoration: none;
}

footer .container .middle {
    width: 40%;
}

.middle form {
    width: 100%;
    font-weight: 700;
    gap: 40px;
}

.middle form fieldset {
    border: none;
    gap: 10px;
}

.middle form fieldset div {
    gap: 15px;
}

form fieldset div input {
    background: none;
    border: none;
    color: #FFF;
    outline: none;
    border-bottom: #FFF solid 2px;
}

form fieldset div textarea {
    resize: none;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}

input,
textarea {
    outline: none;
}

form fieldset button {
    color: #78a55a;
    font-size: 12px;
    font-weight: 700;
    width: 120px;
    padding: 8px 30px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}

form fieldset button:hover {
    transform: scale(1.1);
}

footer .container .right {
    width: 40%;
    gap: 40px;
}

footer .container .right .text-rede-social {
    gap: 40px;
}

.container .right .text-rede-social .redes-sociais {
    gap: 20px;
}

footer .container .right .text-celular {
    gap: 20px;
}

.fundo {
    background-image: url(../imgs/capa.png);
    width: 100%;
    height: 950px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-rede-social .redes-sociais a:hover i {
    color: #FFB20B !important;
}