
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:active, a:focus{
    outline: none;
    color: inherit;
}
.container{
    width: 1200px;
}
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #4D301F;
}

figure{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 94px;
    border-bottom: #000 1px solid;
}

header .container{
    font-family: Roboto, sans-serif;
}
header .container nav{
    padding-right: 250px;
}
.navegacao ul li a{
    font-size: 18px;
    color: #000;
    font-weight: 700;
}
.navegacao ul li:nth-child(1) a{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    color: #377326;
}
.navegacao ul li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}
header .container nav ul{
    gap: 90px;
}
header .container div{
    gap: 15px;
}
header .container div a{
    font-weight: 500;
    border-radius: 6px;
    padding: 10px 20px;
}
header .container .botoes a:nth-child(1){
    color: #4A9B33;
    background: #DFDFDF;
}

header .container .botoes a:hover{
    transform: scale(1.1);
}

header .container .botoes a:nth-child(2){
    color: #FFF;
    background-color: #4A9B33;
}

main .fundo{
    background-image: url(../imgs/capa.png);
    width: 100%;
    height: 950px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFF;
    margin-bottom: 125px;
}

main .fundo .container{
    gap: 45px;
}

main .fundo .container .texto-principal h1{
    font-size: 64px;
    font-weight: 700;
    max-width: 450px;
    height: 100px;
    font-family: Arima, sans-serif;
}

main .fundo .container .texto-principal span{
    font-family: Roboto, sans-serif;
    max-width: 450px;
    text-align: justify;
    word-wrap: break-word;
    line-height: 1.5;
}

main .fundo .container a{
    background: fixed;
    color: #FFF;
    border: 4px solid ;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 60px;
    font-family: Outfit, sans-serif;
    font-size: 22px;
}

main .fundo .container a:hover{
    transform: scale(1.1);
}

main .container .transformando-mundos{
    gap: 90px;
    width: 1000px;
    margin-bottom: 250px;
}
.container .transformando-mundos h3{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    font-family: Outfit, sans-serif;
}
.container .transformando-mundos h3 strong{
    color: #4A9B33;
}

.container .transformando-mundos .valores .valor{
    color: #4A9B33;
    gap: 15px;
}

.transformando-mundos .valores .valor figure{
    width: 180px;
    height: 180px;
    border-radius: 1000px;
    border: 2px solid #4A9B33;
}

.transformando-mundos .valores .valor span{
    font-size: 20px;
}

main .container .em-destaques{
    font-weight: 700;
    margin-bottom: 165px;
}
main .container .em-destaques h2{
    font-size: 40px;
    font-family: Outfit, sans-serif;
}

main .container .em-destaques .destaques{
    gap: 32px 38px;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 165px;
}


.container .em-destaques .destaques .destaque{
    padding: 32px 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #A8A8A8;
    flex-shrink: 0;
    gap: 20px;
}

.em-destaques .destaques .destaque span{
    font-size: 24px;
    font-family: Arima, sans-serif;
}
.container .em-destaques .destaque img{
    width: 300px;
    height: 300px;
}
.em-destaques .destaques .destaque figure{
    position: relative;
}
.fundo-coracao{
    background-color: rgba(255, 255, 255, 0.6); 
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}
.fa-heart{
    position: absolute;
    right: 32px;
    top: 46px;
    z-index: 2;
    cursor: pointer;
}

.vermais{
    color: #4D301F;
    text-decoration: underline;
    font-family: Roboto, sans-serif;
    font-size: 32px;
}

.vermais:hover{
    color: #377326;
}

main .fundo2{
    background-image: url(../imgs/fundo-ver-feedback.png);
    width: 100%;
    height: 950px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFF;
    margin-bottom: 100px;
}

main .fundo2 .container{
    gap: 34px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

main .fundo2 .container h2{
    font-size: 64px;
}

main .fundo2 .container a{
    color: #377326;
    font-size: 25px;
    background-color: #FFF;
    border-radius: 60px;
    padding: 15px 160px;
}

main .fundo2 .container a:hover{
    transform: scale(1.1);
}

main .container .sobre-plantas{
    gap: 156px;
    font-family: Roboto, sans-serif;
    margin-bottom: 225px;
}

main .container .sobre-plantas .planta{
    gap: 200px;
    width: 100%;
}

main .container .sobre-plantas .planta:nth-child(2){
    flex-direction: row-reverse;
}

.container .sobre-plantas .planta figure{
    box-shadow: 30px 30px 0px rgb(55, 115, 38, 1);
    height: 470px;
    width: 470px;
}

.container .sobre-plantas .planta:nth-child(2) figure{
    box-shadow: -30px 30px 0px rgb(55, 115, 38, 1);
    height: 470px;
    width: 470px;
}

.sobre-plantas .planta figure img{
    width: 100%;
    height: 100%;
}

.container .sobre-plantas .planta div{
    width: 500px;
    gap: 40px;
}

.sobre-plantas .planta div span{
    line-height: 1.5;
    text-align: justify;
    word-wrap: break-word;
}

footer{
    background: #195524;
    box-sizing: border-box;
    padding: 140px 0;
    font-family: Roboto, sans-serif;
    color: #FFF;
}

footer .container section a{
    color: #FFF;
}

footer .container .left{
    width: 8%;
    gap: 40px;
}

footer .container .left nav ul{
    gap: 20px;
}
footer .container .middle{
    width: 40%;
}
.middle{
    gap: 48px;
}
.middle h2{
    font-size: 20px;
}
.middle form{
    width: 100%;
    font-weight: 700;
    gap: 40px;
}

.middle form fieldset{
    border: none;
    gap: 20px;
}

.middle form fieldset div{
    gap: 24px;
}

form fieldset div input{
    background: none;
    border: none;
    color: #FFF;
    outline: none;
    border-bottom: #FFF solid 2px;
}
form fieldset button{
    color: #377326;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}

form fieldset button:hover{
    transform: scale(1.1);
}
footer .container .right{
    width: 40%;
    gap: 40px;
}
footer .container .right .text-rede-social{
    gap: 40px;
}

.container .right .text-rede-social .redes-sociais{
    gap: 20px;
}

footer .container .right .text-celular{
    gap: 20px;
}

.text-rede-social .redes-sociais a:hover i{
    color: #FFB20B !important;
}