body{
    background-color: #8DB575;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    box-sizing: border-box;
    gap: 80px;
    width: 100%;
    max-height: 90vh;
    height: 100%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.container form{
    gap: 80px;
}

.container .titulo{
    font-family: Arima, sans-serf;
    gap: 15px;
    color: #4d301f;
    width: 100%;;
}

.container .titulo h1{
    font-size: 68px;
    height: 75px;
}

.container .titulo span{
    font-size: 24px;
}

.container form fieldset{
    border: none;
    gap: 25px;
    width: 100%;
}

.container form fieldset div{
    gap: 5px;
}

.container form fieldset label{
    color: #4d301f;
    font-size: 18px;
}
form fieldset div div{
    color: #4d301f;
    font-size: 12px;
    text-align: end;
}

form fieldset div input{
    border-radius: 10px;
    border: 1px solid #000;
    width: 100%;
    height: 40px;
    padding: 15px;
    box-sizing: border-box;
    color: #000;
}

.container form fieldset button{
    color: #FFF;
    cursor: pointer;
    width: 330px;
    border: none;
    height: 62px;
    border-radius: 50px;
    background: #4A9B33;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Outfit, sans-serif;
    font-size: 24px;
}

.container form fieldset button:hover{
    background-color: #8CCC7A;
    font-weight: 600;
}