*{
    margin: 0;
    padding: 0;
}
figure{
    margin: 0;
    padding: 0;
}

img{
    width: 500px;
    flex: 0 0 0;

}

body{
    background-color: #8DB575;
    height: 100vh;
    color: #4D3527;
}

.container{
    max-width: 1200px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
